@import url('https://fonts.googleapis.com/css?family=Poppins:200i,400&display=swap');
body{
  width: 100%;
  height: 100%;
  margin: 0 ;
  font-family: poppins;
  background-color: #2b2d42;
  color: #fafafa;
}
h1 ,p{
  text-align: center;
  margin:5px auto;
  text-shadow: 0px 0px 10px #000000;
}
form{
  width: 65vw;
  min-width:300px ;
  max-width: 550px;
  margin: 0 auto;
  background-color: #8d99ae;
  padding:20px 30px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px #000000;
}
input{
 
  border:2px solid black;
  border-radius: 10px;
  padding: 5px;
}
.grp{
  margin:  5px auto  13px auto ;
}
/* NEA = NAME EMAIL AGE */
.NEA input{
  height:35px;
  width: 100%;
  display: block;
  background-color: #edf2f4;
  color: #020202;
  font-family: inherit;
  font-size: inherit;


}
select{
  width: 40%;
  height:28px;
  text-align: center;
  font-family: inherit;
  font-size: inherit;
  border: solid 2px #0a0a0a;
  border-radius: 5px;
  background-color: #edf2f4;color: #1b1a1a;

}


.box label{
  display: block;
  padding-left: 15px;
  
}
textarea{
  display: block;
  margin:10px auto;
  border-radius: 7px;
  border-color:  #000000;
  border-width: 2px;background-color: #edf2f4;color: #0a0a0a;
  font-family: inherit;
  font-size: inherit;
  max-width: 500px;
  max-height: 100px;
}
input[type="checkbox"] {
  margin-right: 10px;
  min-height: 1rem;
  min-width: 1rem;
}
input[type="radio"]{
  margin-left:20px ;}

input[type="submit"]{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  margin:30px auto 0px; 
  height:45px;
  background-color: #283044;
  color: #fafafa;
  font-size:30px;
  padding: 0px;
  text-shadow:#000000 0px 0px 10px ;
}

 .NEA label,legend{
  margin:0px 0px 0px 0px ;
  font-weight:700;
  color: #000000;
  text-decoration: underline;
  text-decoration-thickness: 1px;
  letter-spacing:0.25mm;
  
}

